.transaction_history{
    width: 400px;
    
}

.transaction_head{
    background: #2d2f40;
    color: aliceblue;
    height: 20px;
}

.transaction_th{
    padding: 10px 10px;
}

.transaction_body{
    background: #f0f0f0;
    align-items: center;
}

.transaction_td{
    padding: 10px 10px;
    text-align: center;
}